@import '../../index.scss';

.mainContainer {
    @include flexCenter;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.cardContainer {
    @include flexCenter;
    flex-direction: column;
    padding: 40px 150px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    // height: 80px;
    width: 60%;
}

.mainButton {
    @include flexCenter;
    @include glassButton_main;
    @include fontSemiBold-dark;
    margin: 15px 0 5px 0;
    font-size: 20px;
    width: 50%;
    height: 40px;
    background: $bgColor_mainButton;
}

.textHead {
    @include fontBold-light;
    text-shadow: $textShadow-light;
    text-align: center;
}

.textAdditional {
    margin: 0;
    margin-top: 10px;
    @include fontLight-light;
    text-decoration: underline;
    color: $bgColor_mainButton;
    cursor: pointer;
}
