@import '../../index.scss';

.mainContainer {
    @include flexCenter;
    height: 100vh;
    width: 100vw;
}

.cardContainer {
    @include flexCenter;
    @include glassContainer;
    flex-direction: column;
    height: 300px;
    width: 500px;
    background: $bgColor_card-light;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 60%    
}

.mainButton {
    @include flexCenter;
    @include glassButton_main;
    @include fontSemiBold-dark;
    margin-top: 15px;
    font-size: 20px;
    width: 50%;
    height: 40px;
    background: $bgColor_mainButton;
}

.textHead {
    @include fontBold-light;
    text-shadow: $textShadow-light;
}

.textAdditional {
    margin: 0;
    margin-top: 10px;
    @include fontLight-light;
    color: $bgColor_mainButton;
}